*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

section{
    padding: 50px;
}



ul,li,ol{
    list-style: none;
    padding: 15px;
}

.todoslist{
    display: flex;

}

.text{
    text-decoration: line-through;
}

#icon{
    padding: 15px;
}


.input-button{
text-align: center;    
}

span{
    padding: 0px 4p;
}
